<h1>Remove Cheese</h1>

    @if (ViewBag.cheeses.Count == 0)
    {
        <p>No cheeses yet!</p>
    }
    else
    {
        <form method="post">
            <select name="cheese">
                @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
                {
                    <option value=@($"{cheese.Key}")>@($"{cheese.Key}")</option>
                }
            </select>
            <input type="submit" value="Remove cheese" />
        </form>
    }
